<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeanboy.app.aidltest">


    <permission
        android:name="com.jeanboy.app.aidltest.REMOTE"
        android:label="@string/app_name"
        android:permissionGroup="com.jeanboy.app.permission.TEST"
        android:protectionLevel="normal"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.TestService" />
        <service android:name=".service.ForegroundService" />

        <!--android:exported 是否允许其他应用调用-->
        <!--android:icon 服务显示的图标-->
        <!--android:label 服务显示的名称-->
        <!--android:permission 启动服务需要的权限-->
        <!--android:process 服务将要运行的进程名称-->
        <service
            android:name=".service.RemoteService"
            android:description="@string/service_remote"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/service_label"
            android:permission="com.jeanboy.app.aidltest.REMOTE"
            android:process=":remote">
            <intent-filter>
                <!--可供其他app访问的action-->
                <action android:name="android.intent.action.REMOTESERVICE" />
            </intent-filter>
        </service>

    </application>

</manifest>